body{
  background-color: #282c34;
}

.menu-div{
  background-color: white;
  width: auto;
  height: 5vh;
}

.screen{
  border-color: blueviolet;
  
  border-style: solid;
  
  height:  95vh;
}

.circle{
  width:100px;
  height: 100px;
  background-color: turquoise;
  border-radius: 100%;
  position:absolute;
  margin-top: 100;
  margin-left: 400
}